<head>
    <title>MeshiterroRenewal</title>
    <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="Cy5wnF3a4Zas65MoiwkWFMp2fp4PGWPq3qAMWYIjcobxUOllhN4iXt3eD3AfK5HKiF3ErUNUmyzGtyKyLXmclw==">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" media="all" href="/assets/application-75965fd8bf18e6a5c013ee207d4b5cb19b91699c199dc676a2e2647cf3be531c.css" data-turbolinks-track="reload">
    <script src="/assets/application-769140ab2efa20520f576e111d5006acd04d2315776e7f340787e1dc348efd9f.js" data-turbolinks-track="reload"></script>
</head>

<body class="d-flex flex-column vh-100">
        <main class="mb-auto">
    <div class="col-md-6 mx-auto mt-5">
  <h1>welcome to <strong>Meshiterro</strong>  !!</h1>
  <p>In  <span class="glyphicon glyphicon-book"></span><strong>Meshiterro</strong>, </p>
  <p>SNS community that indiscriminately stimulates the appetite of sensible citizens.</p>
  <div class="row">
   <p class="ml-3"><a class="btn btn-info" href="/users/sign_in">Log in</a></p>
   <p class="ml-3"><a class="btn btn-success" href="/users/sign_up">Sign Up</a></p>
  </div>
</div>
    </main>
    

</body>
</html>